<div class="card">
  <div class="card-header border-0">
    <h3 class="card-title">Users</h3>
    <div class="card-tools">
      <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_user_path, class: "btn btn-tool btn-sm" %>
    </div>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-striped table-valign-middle">
      <thead>
      <tr>
        <th>Name</th>
        <th>DOB</th>
        <th>Mobile</th>
        <th>Email</th>
        <th><i class="fas fa-user-edit"></i></th>
        <th><i class="fas fa-cash-register"></i></th>
        <th><i class="fas fa-trash"></i></th>
      </tr>
      </thead>
      <tbody>
      <% if defined?(notice) %>
        <tr>
          <td colspan="7"><%= notice %></td>
        </tr>
      <% end %>
        <tr>
          <td>
            <%= link_to @user do %>
              <img src="<%= asset_path 'default-150x150.png' %>" alt="Name" class="img-circle img-size-32 mr-2">
              <%= @user.name %>
            <% end %>
          </td>
          <td><%= @user.dob %></td>
          <td><%= @user.mobile %></td>
          <td><%= @user.email %></td>
          <td><%= link_to '<i class="fas fa-user-edit"></i>'.html_safe, edit_user_path(@user) %></td>
          <td><%= link_to '<i class="fas fa-wallet"></i>'.html_safe, 'txns/' + @user.id.to_s, class: "text-muted"%></td>
          <td><%= link_to '<i class="fas fa-trash"></i>'.html_safe, @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-muted" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- /.card -->