<%= form_with(model: txn, local: true) do |form| %>
  <% if txn.errors.any? %>
    <div class="bg-danger">
      <h2><%= pluralize(txn.errors.count, "error") %> prohibited this txn from being saved:</h2>

      <ul>
        <% txn.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :txn_type_id %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-txn"></i>
        </span>
      </div>
      <% txn_type_options = options_from_collection_for_select(@txn_type_list, 'id', 'name') %>
      <%= form.select :txn_type_id, txn_type_options, {}, {class: "form-control"} %>
    </div>
  </div>
  <% bank_options = options_from_collection_for_select(@bank_list, 'id', 'name') %>
  <div class="form-group">
    <%= form.label :src_bank_id %>
    <%= form.select :src_bank_id, bank_options, {}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= form.label :dst_bank_id %>
    <%= form.select :dst_bank_id, bank_options, {}, {class: "form-control"} %> 
  </div>
  <div class="form-group">
    <%= form.label :amt %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-wallet"></i>
        </span>
      </div>
      <%= form.text_field :amt, class: "form-control", placeholder: "Enter Amount of Txn" %>
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
<!-- /card -->
