<p id="notice"><%= notice %></p>

<h1>Txns</h1>

<table>
  <thead>
    <tr>
      <th>Txn status</th>
      <th>Txn type</th>
      <th>User</th>
      <th>Src bank</th>
      <th>Dst bank</th>
      <th>Amt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @txns.each do |txn| %>
      <tr>
        <td><%= txn.txn_status_id %></td>
        <td><%= txn.txn_type_id %></td>
        <td><%= txn.user_id %></td>
        <td><%= txn.src_bank_id %></td>
        <td><%= txn.dst_bank_id %></td>
        <td><%= txn.amt %></td>
        <td><%= link_to 'Show', txn %></td>
        <td><%= link_to 'Edit', edit_txn_path(txn) %></td>
        <td><%= link_to 'Destroy', txn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Txn', new_txn_path %>
