<div class="card">
  <div class="card-header border-0">
    <h3 class="card-title">Transactions (immutable)</h3>
    <div class="card-tools">
      <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_txn_path, class: "btn btn-tool btn-sm" %>
    </div>
  </div>
  <div class="card-body table-responsive p-0">
    <table class="table table-striped table-valign-middle">
      <thead>
      <tr>
        <th>Txn ID</th>
        <th>Txn status</th>
        <th>Txn type</th>
        <th>User</th>
        <th>Src Bank</th>
        <th>Dst Bank</th>
        <th>Amt</th>
        <th>AASM</th>
      </tr>
      </thead>
      <tbody>
      <% if defined?(notice) %>
        <tr>
          <td colspan="9"><%= notice %></td>
        </tr>
      <% end %>
      <% @txns.each do |txn| %>
        <tr>
          <td>
            <%= link_to txn do %>
              <img src="<%= asset_path 'default-150x150.png' %>" alt="ID" class="img-circle img-size-32 mr-2">
              <%= txn.id %>
            <% end %>
          </td>
          <td><%= txn.txn_status.name %></td>
          <td><%= txn.txn_type.name %></td>
          <td><%= txn.user.name %></td>
          <td><%= txn.src_bank.name %></td>
          <td><%= txn.dst_bank.name %></td>
          <td><%= txn.amt %></td>
          <td><%= txn.aasm_state %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- /.card -->